<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Dilkash Shaikh Mahajan</title>
</head>

<body>
    {{>navbar}}
    {{!-- About US start --}}
    <div class="container-fluid about-style">
        <div class="row">
            <div class="col-md-10 mx-auto">

                <div class="row">
                    {{!-- Left Side --}}
                    <div class="col-md-6">
                        <figure>
                            <img src="images/img2.svg" class="img-fluid" alt="hero_image">
                        </figure>
                    </div>
                    {{!-- Right Side --}}
                    <div class="col-md-6 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h1>We are the Professional Developer.</h1>

                        <p>Welcome to <span class="bold-style">Dilkash Mahajan.</span> Lorem Ipsum is
                            simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, </p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                </div>
                <p class="mt-5 text-center sub-heading"> Grow Your Business With US</p>
            </div>
        </div>
    </div>
    {{!-- About US end --}}


    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>
