<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/magnific-popup.css">
    <title>Dilkash Shaikh Mahajan</title>
</head>

<body>
    {{>navbar}}
    <!-- portfolio section start -->
    <section id="portfolio" class="porfolio py-70 bg_primary">
        <div class="container">
            <div class="portfolio-filter text-lg-left text-center mb-5">
                <button class="active" data-filter="*">All</button>
                <button data-filter=".dev">Development</button>
                <button data-filter=".des">Design</button>
                <button data-filter=".marketing">Marketing</button>
            </div>
            <div class="portfolio-wrapper row pb-5">
                <div class="portfolio-grid col-md-4 col-sm-6 dev des">
                    <div class="portfolio-item">
                        <a href="images/blog3.jpg" class="expand-img"><img class="img-fluid" src="images/blog3.jpg"
                                alt=""></a>
                    </div>
                </div>
                <div class="portfolio-grid col-md-4 col-sm-6 marketing">
                    <div class="portfolio-item">
                        <a href="images/blog3.jpg" class="expand-img"><img class="img-fluid" src="images/blog3.jpg"
                                alt=""></a>
                    </div>
                </div>
                <div class="portfolio-grid col-md-4 col-sm-6 dev marketing">
                    <div class="portfolio-item">
                        <a href="images/blog3.jpg" class="expand-img"><img class="img-fluid" src="images/blog3.jpg"
                                alt=""></a>
                    </div>
                </div>
                <div class="portfolio-grid col-md-4 col-sm-6 marketing">
                    <div class="portfolio-item">
                        <a href="images/blog3.jpg" class="expand-img"><img class="img-fluid" src="images/blog3.jpg"
                                alt=""></a>
                    </div>
                </div>
                <div class="portfolio-grid col-md-4 col-sm-6 des">
                    <div class="portfolio-item">
                        <a href="images/blog3.jpg" class="expand-img"><img class="img-fluid" src="images/blog3.jpg"
                                alt=""></a>
                    </div>
                </div>
                <div class="portfolio-grid col-md-4 col-sm-6 marketing des sev">
                    <div class="portfolio-item">
                        <a href="images/blog3.jpg" class="expand-img"><img class="img-fluid" src="images/blog3.jpg"
                                alt=""></a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    {{!-- isotope script file --}}
    <script src="./jquery/isotope.pkgd.min.js" type="text/javascript"></script>
    {{!-- jquery.magnific-popup.min --}}
    <script src="./jquery/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="./jquery/script.js" type="text/javascript"></script>
</body>

</html>