<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Dilkash Shaikh Mahajan</title>
</head>

<body>
    {{>navbar}}
    {{!-- main page start --}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 mx-auto mt-5">
                <div class="row">
                    <div
                        class="col-md-6 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>We will help you to </h1>
                        <h1> grow you business</h1>
                        <p>We are the Team of <span class="bold-style">Professional Developer.</span> </p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                    <div class="col-md-6 order-md-1 order-0">
                        <figure>
                            <img src="images/keyboard.svg" class="img-fluid" alt="hero_image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- main page end --}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>
