<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Dilkash Shaikh Mahajan</title>
</head>

<body>
    {{>navbar}}
    <div class="container-fluid service-style">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="by">
                                </div>
                                <h4>Setting</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services speedup">
                                <div class="icon">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="by">
                                </div>
                                <h4>Setting</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services privacy">
                                <div class="icon">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="by">
                                </div>
                                <h4>Setting</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services backups">
                                <div class="icon">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="by">
                                </div>
                                <h4>Setting</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services database">
                                <div class="icon">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="by">
                                </div>
                                <h4>Setting</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services ssl">
                                <div class="icon">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="by">
                                </div>
                                <h4>Setting</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="mt-4 text-center sub-heading"> Grow Your Business With US</p>
            </div>
        </div>
    </div>


    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>